# BEGIN ANSIBLE MANAGED PRIVATE AUTOMATION HUB CONFIGURATION
[defaults]
vault_password_file=.password
[galaxy]
server_list = rh-certified, validated, community

[galaxy_server.rh-certified]
url=https://controller.54pnp.sandbox5444.opentlc.com/pulp_ansible/galaxy/rh-certified/
username=lab-user
password=MjAwMjM2
[galaxy_server.validated]
url=https://controller.54pnp.sandbox5444.opentlc.com/pulp_ansible/galaxy/validated/
username=lab-user
password=MjAwMjM2
[galaxy_server.community]
url=https://galaxy.ansible.com/
# END ANSIBLE MANAGED PRIVATE AUTOMATION HUB CONFIGURATION
